:root {
    --global-font-color: #212121;
    --dark-font-color: #000000;
    --bright-font-color: #ffffff;
    --web-style-color: #2196f3;
    --h1-background-color: #2f303a;
    --p-caption-link-font-color: #757575;
    --bottom-link-color: rgba(255, 255, 255, 0.6);
    --footer-background-color: #2f303a;
    --header-line-color: #ececec;
    --card-line-color: #eeeeee;
    --our-team-background-color: #f5f4fa;
    --icon-color: #afb1b8;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--global-font-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

header {
    padding-top: 22px;
    padding-bottom: 22px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.section {
    margin: 0 auto;
    padding: 94px 0px;
}

.lorem-gap {
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 auto;
    z-index: 1;
}

.portfolio-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    gap: 93px;
}

.header-adress {
    display: flex;
    gap: 50px;
    margin: 0px;
}

.header-line {
    border-bottom: 1px solid var(--header-line-color);
}

.studio-figcaption {
    background-color: var(--bright-font-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu {
    display: flex;
    gap: 26px;
    margin: 0;
}

.nav-font {
    display: block;
    padding: 10px;
    color: var(--global-font-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.2;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current-nav {
    position: relative;
    color: var(--web-style-color);
}

.current-nav::after {
    content: '';
    position: absolute;
    background-color: var(--web-style-color);
    border-radius: 2px;
    width: 76%;
    height: 4px;
    margin-top: 28px;
    display: block;
    pointer-events: none;
}

.nav-font:focus,
.nav-font:hover {
    color: var(--web-style-color);
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.logo {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.our-team {
    background-color: var(--our-team-background-color);
}

.our-team-photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 0 auto;
}

.studio-black {
    color: var(--dark-font-color);
}

.studio-white {
    color: var(--bright-font-color);
    display: flex;
    padding-bottom: 20px;
}

.web-style {
    color: var(--web-style-color);
    line-height: 1.2;
}

.button-gap {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    padding-bottom: 34px;
    margin: 0 auto;
}

.portfolio-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 23px;
    border-radius: 4px;
    border: none;
    transition-property: background-color, color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--web-style-color);
    color: var(--bright-font-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.figure {
    margin: 0 auto;
    width: 370px;
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.figure:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
}

.studio-figure {
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
        0 1px 3px rgba(0, 0, 0, 0.12);
}

.figcaption {
    border-left: 1px solid var(--card-line-color);
    border-right: 1px solid var(--card-line-color);
    border-bottom: 1px solid var(--card-line-color);
}

.card-image {
    display: block;
}

.section-h1 {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--h1-background-color);
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url('../images/wallpaper.jpg');
    background-position: center;
}

.section-what-we-do {
    margin: 0 auto;
    padding: 0px 0px 94px;
}

.h1-style {
    color: var(--bright-font-color);
    max-width: 600px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-align: center;
    margin: 0 auto;
}

.h2-style {
    color: var(--global-font-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.h5-style {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}

.p-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--p-caption-link-font-color);
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin: 0px auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.caption-font {
    color: var(--p-caption-link-font-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px auto;
    display: block;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 16px;
}

.portfolio-team-names {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 4px;
}

.studio-button {
    font-family: 'roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: var(--bright-font-color);
    background-color: var(--web-style-color);
    padding: 10px 42px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 30px auto 0px;
}

.portfolio-caption-font {
    color: var(--p-caption-link-font-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    margin: 0 auto;
    display: block;
    padding-left: 10px;
    padding-bottom: 20px;
}

.contact-link-top {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--p-caption-link-font-color);
    text-decoration: none;
    font-style: normal;
    fill: var(--icon-color);
    display: flex;
    gap: 10px;
    transition-property: color, fill;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-top:focus,
.contact-link-top:hover {
    color: var(--web-style-color);
    fill: var(--web-style-color);
}

.street-contact-link-bottom {
    font-size: 14px;
    line-height: 1.7;
    color: var(--bright-font-color);
    text-decoration: none;
    font-style: normal;
}

.contact-link-bottom {
    font-size: 14px;
    line-height: 1.7;
    color: var(--bottom-link-color);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link-bottom:focus,
.contact-link-bottom:hover {
    color: var(--web-style-color);
}

.section-our-clients {
    margin: 0 auto;
    padding: 94px 0px 98px;
}

.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.lorem-icon {
    margin: 0 auto;
    padding: 25px 100px;
    background-color: var(--our-team-background-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.icon {
    fill: var(--icon-color);
    height: 44px;
    width: 44px;
    margin: 0 5px;
    padding: 12px;
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:focus,
.icon:hover {
    background-color: var(--web-style-color);
    fill: #ffffff;
}

.contact-icon {
    margin: 0px;
    padding-top: 0px;
}

.footer-icon {
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin: 0 5px;
    padding: 12px;
    transition-property: background-color, fill;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:focus,
.footer-icon:hover {
    background-color: var(--web-style-color);
    border-radius: 50%;
    fill: #ffffff;
}

.join-us {
    color: var(--bright-font-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.footer-display {
    max-width: 1200px;
    justify-content: left;
    gap: 70px;
}

.our-clients-icon-yaco,
.our-clients-icon-company-sheets,
.our-clients-icon-company,
.our-clients-icon-foster-peters,
.our-clients-icon-brand,
.our-clients-icon-company-box {
    fill: var(--icon-color);
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    margin: 0 15px;
    cursor: pointer;
    transition-property: border-color, fill;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-icon-yaco {
    padding: 24.71px 65px 20.58px 64px;
}
.our-clients-icon-company-sheets {
    padding: 20.71px 65px 19.29px;
}
.our-clients-icon-company {
    padding: 24.71px 64.86px 26.12px 61.68px;
}
.our-clients-icon-foster-peters {
    padding: 22.7px 49.56px 28.68px 61.68px;
}
.our-clients-icon-brand {
    padding: 22.77px 53.46px 23.8px 54px;
}
.our-clients-icon-company-box {
    padding: 22.77px 38.21px 25.31px 38px;
}
.our-clients-icon-yaco:hover,
.our-clients-icon-company-sheets:hover,
.our-clients-icon-company:hover,
.our-clients-icon-foster-peters:hover,
.our-clients-icon-brand:hover,
.our-clients-icon-company-box:hover,
.our-clients-icon-yaco:focus,
.our-clients-icon-company-sheets:focus,
.our-clients-icon-company:focus,
.our-clients-icon-foster-peters:focus,
.our-clients-icon-brand:focus,
.our-clients-icon-company-box:focus {
    fill: var(--web-style-color);
    border-color: var(--web-style-color);
}

.social-media {
    padding-bottom: 30px;
}

.footer-social-media {
    fill: var(--bright-font-color);
}

.img-description {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    position: absolute;
    top: 227px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 90px;
    color: #ffffff;
    text-align: center;
}

.img-description > img,
.img-container > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.card-description {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 150, 243, 0.9);
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.figure:hover .card-description,
.figure:focus .card-description {
    transform: translateY(0);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    transition: visibility 0.25s linear, opacity 0.25s linear;
}

.close-button {
    position: relative;
    width: 30px;
    height: 30px;
    left: 490px;
    top: 8px;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
}

.newsletter-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--h1-background-color);
    padding: 15px 0 15px 16px;
    font-size: 16px;
    color: var(--bright-font-color);
    line-height: 1.25;
    width: 358px;
    height: 50px;
    position: relative;
    transition-property: border-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-input:hover,
.newsletter-input:focus-within,
.newsletter-input:focus {
    border-color: var(--web-style-color);
}

.newsletter-button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    width: 200px;
    height: 50px;
    color: var(--bright-font-color);
    background-color: var(--web-style-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    fill: var(--bright-font-color);
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    padding: 10px 28px 10px 42px;
}

.newsletter-icon {
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

.form {
    text-align: center;
}
.form-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 12px;
    padding: 0;
}

.form-label {
    display: block;
    text-align: left;
    padding-left: 40px;
    padding-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: var(--p-caption-link-font-color);
}

.form-input {
    border: none;
    outline: none;
}

.form-input:hover {
    outline: none;
}

.input-box {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    display: inline-flex;
    text-align: left;
    margin-bottom: 10px;
    transition-property: border-color, fill;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus-within,
.input-box:hover,
.input-box:focus,
.comment:hover,
.comment:focus {
    border-color: var(--web-style-color);
    fill: var(--web-style-color);
}

.icon-name,
.icon-phone,
.icon-mail {
    margin: 11px 12px;
}

.form-comment {
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
    resize: none;
    padding: 10px 16px;
    transition-property: border-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:hover,
.form-comment:focus {
    outline: none;
    border-color: var(--web-style-color);
}

.checkbox-input {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(1px 1px 1px 1px);
}

.checkbox-label {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
}
.check-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--p-caption-link-font-color);
    text-align: center;
    padding-left: 7px;
}

.check-container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 54px;
    height: 15px;
    width: 16px;
    border: 2px solid var(--global-font-color);
    border-radius: 2px;
    background-image: url('../images/vector.svg');
    background-repeat: no-repeat;
    padding-top: 4px;
    background-position: center;
    transition-property: border-color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-container:hover input ~ .checkmark,
.check-container:focus input ~ .checkmark {
    border-color: var(--web-style-color);
}

.check-container input:checked ~ .checkmark {
    background-color: var(--web-style-color);
    border-color: var(--web-style-color);
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.form-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--bright-font-color);
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--web-style-color);
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0px 4px 4px 0px #00000026;
}
